a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

html {
    touch-action: manipulation;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

div {
    display: block;
    unicode-bidi: isolate;
}

html, body, span, div, button, input, label, select, option, textarea {
    font-family: var(--kpds_ldmw170);
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

*, :after, :before, legend, td, th {
    padding: 0;
}
.title{
    text-align: center;
    transition: margin 0.4s linear;
    margin-top: -42px;
    background-color: rgb(95, 0, 128);
}
.title-1{
    position: relative;
    width: 1050px;
    margin: 0px auto;
}
.title-2{
    display: block;
    font-size: 14px;
    line-height: 42px;
    color: rgb(255, 255, 255);
    height: 42px;
}
.title-3{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 42px;
    height: 42px;
}
.title-4{
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}
.title01-1{
    width: 1050px;
    height: 100px;
    margin: 0px auto;
    letter-spacing: -0.3px;
}
.title01-2{
    min-width: 1050px;
    letter-spacing: -0.3px;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
    width: 100%;
    z-index: 300;
}
.title01-3{
    min-height: 56px;
    display: none;
}
.title01-1-1{
    right: 0px;
    top: 0px;
    z-index: 320;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: end;
    font-size: 12px;
}
.join{
    display: block;
    color: rgb(95, 0, 128);
    cursor: pointer;
}
.line{
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}
.login{
    display: block;
    cursor: pointer;
}
.center{
    line-height: 35px;
    position: relative;
}
.center-1{
    width: 8px;
    height: 5px;
    background-image: url(https://res.kurly.com/pc/ico/1908/ico_down_16x10.png);
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 1px;
}
.center .menu {
    display: none;
}
.menu1{
    position: absolute;
    z-index: 320;
    right: 0px;
    top: 34px;
    width: 130px;
    padding: 3px 9px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
}
.center-2{
    display: block;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}
.title-main{
    height: 64px;
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.logo{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    height: 63px;
}
.logo-1{
    flex: 0 0 82px;
}
.logo-2{
    flex-shrink: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgb(181, 181, 181);
    cursor: pointer;
}
.logo-2.active, .logo-2:hover {
    font-weight: 500;
    color: rgb(95, 0, 128);
}
.logo-3{
    display: flex
;
    flex-direction: column;
    margin-top: 8px;
    margin-left: -100px;
    width: 400px;
}
.logo-4{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    left: 325px;
    top: -55px;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
}
.logo-5{
    width: 300px;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.33px;
}
.logo-6{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    bottom: 3px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) 0px 0px no-repeat;
}
.banner{
    position: relative;
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1050px;
    height: 56px;
    margin: 0px auto;
}
.banner-1{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.banner-2{
    width: 16px;
    height: 14px;
    margin-right: 14px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==) 0px 0px / 16px 14px no-repeat;
}
.banner-3{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgb(51, 51, 51);
}
.banner-4{
    display: flex
;
    margin-left: 30px;
}
.banner-5{
    display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    width: 150px;
    height: 55px;
    padding-top: 18px;
    line-height: 20px;
    text-align: center;
}
.banner-6{
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(95, 0, 128);
}
.banner-7{
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    cursor: pointer;
}
.banner-8{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
}
.banner-9{
    height: 32px;
    padding: 6px 16px;
    border-radius: 18px;
    border: 1px solid rgb(238, 238, 238);
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.32px;
    cursor: pointer;
}
.banner-10{
    font-weight: 500;
    color: rgb(95, 0, 128);
}
.logo-2:not(:last-of-type)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 14px;
    margin-top: 5px;
    margin-left: 11px;
    background-color: rgb(226, 226, 226);
}
.contant{
    position: relative;
    display: flex
;
    flex-direction: column;
    margin-bottom: 80px;
}
.contant-1{
    width: 1050px;
    margin: 0px auto;
}
.contant-2{
    margin-top: 50px;
    font-weight: 500;
    font-size: 28px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    letter-spacing: -1px;
    text-align: center;
}
.contant-3{
    display: grid
;
    grid-template-columns: repeat(4, 180px);
    gap: 16px 83px;
    overflow: hidden;
    margin-top: 28px;
    padding: 30px 40px;
    border: 1px solid rgb(226, 226, 226);
    line-height: 20px;
}
.contant-4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contant-5{
    letter-spacing: -1px;
    cursor: pointer;
    font-weight: 700;
    color: rgb(95, 0, 128);
}
.contant-6{
    letter-spacing: -1px;
    cursor: pointer;
}
.contant-7{
    display: flex
;
    flex-direction: column;
    width: 1050px;
    margin: 0px auto;
}