a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
button[disabled], input[disabled] {
    cursor: default;
}
ol, ul {
    list-style: none;
}
svg:not(:root) {
    overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

html {
    touch-action: manipulation;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

div {
    display: block;
    unicode-bidi: isolate;
}

html, body, span, div, button, input, label, select, option, textarea {
    font-family: var(--kpds_ldmw170);
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

*, :after, :before, legend, td, th {
    padding: 0;
}
.title{
    text-align: center;
    transition: margin 0.4s linear;
    margin-top: -42px;
    background-color: rgb(95, 0, 128);
}
.title-1{
    position: relative;
    width: 1050px;
    margin: 0px auto;
}
.title-2{
    display: block;
    font-size: 14px;
    line-height: 42px;
    color: rgb(255, 255, 255);
    height: 42px;
}
.title-3{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 42px;
    height: 42px;
}
.title-4{
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}
.title01-1{
    width: 1050px;
    height: 100px;
    margin: 0px auto;
    letter-spacing: -0.3px;
}
.title01-2{
    min-width: 1050px;
    letter-spacing: -0.3px;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
    width: 100%;
    z-index: 300;
}
.title01-3{
    min-height: 56px;
    display: none;
}
.title01-1-1{
    right: 0px;
    top: 0px;
    z-index: 320;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: end;
    font-size: 12px;
}
.join{
    display: block;
    color: rgb(95, 0, 128);
    cursor: pointer;
}
.line{
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}
.login{
    display: block;
    cursor: pointer;
}
.center{
    line-height: 35px;
    position: relative;
}
.center-1{
    width: 8px;
    height: 5px;
    background-image: url(https://res.kurly.com/pc/ico/1908/ico_down_16x10.png);
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 1px;
}
.center .menu {
    display: none;
}
.menu1{
    position: absolute;
    z-index: 320;
    right: 0px;
    top: 34px;
    width: 130px;
    padding: 3px 9px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
}
.center-2{
    display: block;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}
.title-main{
    height: 64px;
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.logo{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    height: 63px;
}
.logo-1{
    flex: 0 0 82px;
}
.logo-2{
    flex-shrink: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgb(181, 181, 181);
    cursor: pointer;
}
.logo-2.active, .logo-2:hover {
    font-weight: 500;
    color: rgb(95, 0, 128);
}
.logo-3{
    display: flex
;
    flex-direction: column;
    margin-top: 8px;
    margin-left: -100px;
    width: 400px;
}
.logo-4{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    left: 325px;
    top: -55px;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
}
.logo-5{
    width: 300px;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.33px;
}
.logo-6{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    bottom: 3px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) 0px 0px no-repeat;
}
.banner{
    position: relative;
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1050px;
    height: 56px;
    margin: 0px auto;
}
.banner-1{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.banner-2{
    width: 16px;
    height: 14px;
    margin-right: 14px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==) 0px 0px / 16px 14px no-repeat;
}
.banner-3{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgb(51, 51, 51);
}
.banner-4{
    display: flex
;
    margin-left: 30px;
}
.banner-5{
    display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    width: 150px;
    height: 55px;
    padding-top: 18px;
    line-height: 20px;
    text-align: center;
}
.banner-6{
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(95, 0, 128);
}
.banner-7{
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    cursor: pointer;
}
.banner-8{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
}
.banner-9{
    height: 32px;
    padding: 6px 16px;
    border-radius: 18px;
    border: 1px solid rgb(238, 238, 238);
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.32px;
    cursor: pointer;
}
.banner-10{
    font-weight: 500;
    color: rgb(95, 0, 128);
}
.logo-2:not(:last-of-type)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 14px;
    margin-top: 5px;
    margin-left: 11px;
    background-color: rgb(226, 226, 226);
}
.contant{
    position: relative;
    display: flex
;
    flex-direction: column;
    margin-bottom: 80px;
}
.contant-1{
    width: 1050px;
    margin: 0px auto;
}
.contant-2{
    margin-top: 50px;
    font-weight: 500;
    font-size: 28px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    letter-spacing: -1px;
    text-align: center;
}
.contant-3{
    display: grid
;
    grid-template-columns: repeat(4, 180px);
    gap: 16px 83px;
    overflow: hidden;
    margin-top: 28px;
    padding: 30px 40px;
    border: 1px solid rgb(226, 226, 226);
    line-height: 20px;
}
.contant-4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contant-5{
    letter-spacing: -1px;
    cursor: pointer;
    font-weight: 700;
    color: rgb(95, 0, 128);
}
.contant-6{
    letter-spacing: -1px;
    cursor: pointer;
}
.contant-7{
    display: flex
;
    flex-direction: column;
    width: 1050px;
    margin: 0px auto;
}
.contant-8{
    position: relative;
    display: flex
;
    width: 1050px;
    margin-top: 50px;
    margin-bottom: 75px;
}
.contatn-9{
    border-bottom: 1px solid rgb(238, 238, 238);
}
.contant-10{
    position: sticky;
    top: 0px;
    display: flex
;
    z-index: 20;
    background-color: rgb(255, 255, 255);
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    line-height: 20px;
}
.contant-11{
    font-weight: 700;
    font-size: 18px;
    color: rgb(51, 51, 51);
}
.contant-12{
    pointer-events: none;
}
.contant-14{
    color: rgb(221, 221, 221);
}
.contant-15{
    border-bottom: 1px solid rgb(238, 238, 238);
}
.contant-16 {
    height: auto;
    overflow: hidden;
    padding: 11px 0px;
}

.contant-17 {
    padding: 9px 0px;
    cursor: pointer;
}
.contant-18{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 8px;
}
.contant-19{
    margin-right: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgb(141, 76, 196);
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.contant-20{
    flex-shrink: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(204, 204, 204);
}
.contant-21{
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 52px;
    overflow: hidden;
}
.contant-22{
    transition: transform 250ms ease-out;
}
.contant-23{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: rgb(51, 51, 51);
}
.contant-24{
    transition: 250ms cubic-bezier(0.83, 0, 0.17, 1);
    height: auto;
    opacity: 0;
    overflow: hidden;
}
.contant-25{
    list-style: none;
    margin-bottom: 18px;
}
.contant-25:first-of-type {
    display: inline-block;
    margin-top: 9px;
}
.contant-26{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
}
.contant-27{
    margin-right: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgb(51, 51, 51);
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.contant01-1 .css-1d3w5wq {
    width: 100%;
}
.contant01-2{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 20px;
    line-height: 20px;
}
.contant01-3{
    font-size: 14px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}
.contant01-4{
    position: relative;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
}
.contant01-5{
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 8px;
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.contant01-6{
    letter-spacing: -0.3px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    cursor: default;
}
.contant01-7{
    height: 20px;
    margin-left: 5px;
}
.contant01-8{
    display: none;
    position: absolute;
    top: 36px;
    left: -6px;
    z-index: 20;
    max-width: 272px;
    padding: 14px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 3px;
    background: rgb(255, 255, 255);
    color: rgb(102, 102, 102);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
}
.contant01-5::before {
    content: "";
    display: flex
;
    width: 1px;
    height: 10px;
    margin-right: 8px;
    background-color: rgb(226, 226, 226);
}
.contant01-9{
    letter-spacing: -0.3px;
    cursor: pointer;
}
.contant01-10{
    display: grid
;
    grid-template-columns: repeat(auto-fill, 249px);
    gap: 31px 18px;
    width: 100%;
}
.contant01-11{
    display: block;
    width: 100%;
    height: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHQAAAB0CAQAAAD+k96sAAAAAXNSR0IArs4c6QAABkxJREFUeNrtnV9oW1UYwMdgT2PPe9tDH8fezpyTgcJ8kHYdIg6EIYoMhE2EgMJ8GOKoyEqrIIItiOzBB90QVKy0ilJhtsGHdqUgvoiFfl+Spg2N/bM1aZr8fMhd0yQ3Tdqdc3Oz229vyYXs13PO9/9899ChAzmQPQiH013SrTEdklGdkFmd04zkJa8ZnZNZnZBRHdKYdKe7ONyRgEvHpEcHdUpyQov/cjqlg9KzdKxDEBdOaZ/GtVD+7ysplsiyzgZ5CmxRBKDIFgXybLBOliVSqAesBY1r38KpECOmj2tMpx8BLrJCjhKtSokcKyxWgKc1lj4eOkg9ryPlVUyQ3ROgH3CWxKPVHdHz4YHs1Xh5FTM8xJY8JOOtrsa1t/2Ql3RGEJKseqfPphRZJVmGvS8vtw0ydVLHy5Brj7FVm2/ltUew46mTwevWo9Ivm0KSdYKQ9TLspvQvHA0QU3p0XlCyDleyfmWzKILOS08wvs4RGdCSkGaToGWTNIKWZIAjjjGTJzQuKGu0S9bK6xpPnnCImbgoy0KKPO2UPCkEWU5cdIV5TYtCJsBz2fi8ZhC0mLjmQgHdFIRVwiKrZVfxpuVgS4cF5QFhkgfl0zpsLcDjsN4RlA3CJhtl1DuWUHVYSLRZATVWTAkEHbZ0NjWkmGVUtXFWE9fCuWnrN/BjaeDERS1KyFSQv1oStLhvu5o8IcthMihNjc3yvrwljmhcyNApkkHQ+D58YBkQUiHwglr3llIIMrD3QKwUZl3bSP9qaU9B3MJRnZc2Rij7j2wEnd9DaC79QppOlDSC9LecC5JNbUNYbSc0V2SzxdySjgtZOlWyCDreUgJTSHaQtq3XvkkEvdQcdEYCyuy5yxgKOtM06y4k6XRJIjTJ7mu8E82Kr5mJ71oq6uzzWXNOG5endKRTnPhWnHwdaVzfLKiDUlG9KN/xn9NfKKJooUF9VWPBRCuTPIOhm4T7aCbmDzotFuubjeRXnsZgMPSScvg7DxF02rf3QBz/jQF+5IyHaTC8yKLD30og+PRCaJ97x+9rTm9DPoXB8BJLbp3BPl8LmnOK+eX2OhoMr3EWg+ESy45+L+dnTZeOaUGdWtBPPcwr/ILBEON377S+4mgnlVC0UNO3pBfE4Xkp8ZGH+RYb3PNA4TcP9bIj672IoBeqQQeFFUeYW9zwMN+lADtA4WdPOb3qxPFcQdDBatApVyd0k3c8zPc9Z2QnKPzkqaXXHeSPcwg6VVVGkpybE7rBVQ/z1vZn1aDwg6eLr1ivCJRQJLejBJXuEifGe403PMzPdnxaCwrfek+9aR01hZDuqiTDusWBPVvmsgdwu+rzelD4xnvyquUU6xKCdFd5ubZVfJqXMRhOc7fmGz9Q+MpDfdtqWi5b7fHqkO30idCLwXCGkbrv/EHhtocao2A3rTJU2bpjYvV0/MMLGAxnGff5thEofLFthrasKUNBxiorOikWz8ZfnMdgOEfc9/vGoPC5h/qepbg4j6CTlRWdFWvbZYpnMRieY6bBE7uBVlzFG1bMXQFBZisrOieWNotyDoPhef5u+MzuoPCxh/qBFa9M0LkKaEYsbZXvMRi6mdvlmWagcMtD/cNCSkXQTGXr5sWad3md600C+Oag8CEGwz0r+l/yDkBbkVZA4Z6F9awDtbd17YHaygZWbV17yihsoDXKyKZ5CRdorXmZkAD7FYIEzSPoRGVFRyXA7rAgQTcQZNShUx8W0Bqn3kWYFg7QmjDNTeAdBtCawNtVKqX9oDWpFHfJsfaC1iXHXKY72wlal+50m8BuH6hfAttpSaJdoIsINU2Q7otMwYP6FpmCKBsGDZrzb8IJohAcLGiDQnAwpf0gQRuU9oNq1ggKtGGzRnDtN8GA7tJ+E1RDVRCguzZUBdUiFwTori1yQTU9/stpDJ84taBNmh6DamP9k7tOMxpN21gj1Jj8xLSa34/I5YGWJqtE5DpIhC74RObKVoQu4UXmWmWELspG6OpzZC6zR2g8QYQGTkRohEiEhsJEaMxPZAY3RWgUV6SGq0VoXF6EBiBGaKRlhIaURmrsbIQGCQc+GnqmheknB8O+bcJGYXz7jvrqkz+Qf2cvxBP/ioWavqUL+3lphl7omJdm1AZ4269BGdPJutegTMpYh78G5UDaJv8DikERzXjOPr0AAAAASUVORK5CYII=) 50% 50% / 58px 58px no-repeat;
}
.contant01-12{
    position: absolute;
    top: 70px;
    right: 20px;
    bottom: -174px;
    z-index: 1;
    margin-top: 174px;
}
.contant01-13{
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.3px;
}
@media (max-width: 1250px) {
    .contant01-13 {
        display: none;
    }
}
.contant01-14{
    height: 120px;
    margin-bottom: 7px;
    cursor: pointer;
}
.contant01-15{
    width: 80px;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    border-image: initial;
    border-bottom-style: initial;
    border-bottom-color: initial;
    background-color: rgb(255, 255, 255);
}
.contant01-16{
    height: 29px;
    padding-top: 5px;
    text-align: center;
    color: rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    cursor: pointer;
}
.contant01-17 {
    color: rgb(51, 51, 51);
}

.contant01-18{
    margin-top: 8px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
}
.contant01-19{
    max-height: 209px;
    overflow: hidden;
    margin-top: 6px;
}
.contant01-20{
    max-height: 209px;
    overflow: hidden;
    margin-top: 6px;
}
.contant01-21{
    display: block;
    height: 80px;
    margin: 2px 0px;
}