@font-face {
    font-family: Pretendard;
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
}

* {
    font-family: Pretendard;
}

*, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    background-color: #fff;
}

button {
    border-radius: 0;
    overflow: visible;
    cursor: pointer;
}

body, html {
    height: 100%;
}

button, select {
    text-transform: none;
}

input, textarea {
    all: unset;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, button, div, a, ul, li, ol, span, img {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}

.topbar {
    width: 1050px;
    height: 100px;
    margin: 0px auto;
    letter-spacing: -0.3px;
}

.topmenu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: end;
    font-size: 12px;
}

.topmenu-join {
    display: block;
    color: rgb(95, 0, 128);
    cursor: pointer;
}

.topbar-content {
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}

.topmenu-login {
    display: block;
    cursor: pointer;
}

.topbar-end {
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}

.topbar-service {
    line-height: 35px;
    position: relative;
}

.topmenu-service {
    display: block;
    cursor: pointer;
}

.service-center {
    width: 8px;
    height: 5px;
    background-image: url(https://res.kurly.com/pc/ico/1908/ico_down_16x10.png);
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 1px;
}

.topmainbar {
    height: 64px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.mainlogo-bar {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 63px;
}

.mainlogo {
    flex: 0 0 82px;
}

.active-kurly {
    flex-shrink: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.active-kurly.active {
    font-weight: 500;
    color: rgb(95, 0, 128);
}

.active-kurly:hover {
    font-weight: 500;
    color: rgb(95, 0, 128);
}

.active-kurly:not(:last-of-type)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 14px;
    margin-top: 5px;
    margin-left: 11px;
    background-color: rgb(226, 226, 226);
}

.nonactive-kurly {
    flex-shrink: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgb(181, 181, 181);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.nonactive-kurly:hover {
    font-weight: 500;
    color: rgb(95, 0, 128);
}

.nonactive-kurly:last-of-type {
    margin-left: 22px;
}

.searchbar-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: -100px;
    width: 400px;
}

.searchbar {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
}

.searchbar-context {
    width: 300px;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.33px;
}

.searchbar-button {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    bottom: 3px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) 0px 0px no-repeat;
}

.topmainbar-icon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.topmainbar-delivery {
    width: 36px;
    height: 36px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K);
    cursor: pointer;
}

.topmainbar-want {
    width: 36px;
    height: 36px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==) 50% 50% no-repeat;
}

.topmainbar-cart {
    position: relative;
    margin-left: 20px;
}

.topmainbar-cart-btn {
    display: block;
    width: 36px;
    height: 36px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==);
    cursor: pointer;
}

.middlebar {
    min-width: 1050px;
    letter-spacing: -0.3px;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
    width: 100%;
    z-index: 300;
}

.middlebar-content {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1050px;
    height: 56px;
    margin: 0px auto;
}

.middlebar-category {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.category-icon {
    width: 16px;
    height: 14px;
    margin-right: 14px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==) 0px 0px / 16px 14px no-repeat;
}

.category-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgb(51, 51, 51);
}

.middlebar-list {
    display: flex;
    margin-left: 30px;
}

.middlebar-list-content {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 150px;
    height: 55px;
    padding-top: 18px;
    line-height: 20px;
    text-align: center;
}

.middlebar-list-text {
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    cursor: pointer;
}

.middlebar-delivery-guide {
    display: flex;
    margin-left: 30px;
}

.middlebar-delivery-guide {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.middlebar-delivery-content {
    height: 32px;
    padding: 6px 16px;
    border-radius: 18px;
    border: 1px solid rgb(238, 238, 238);
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.32px;
    cursor: pointer;
}

.middlebar-delivery-text {
    font-weight: 500;
    color: rgb(95, 0, 128);
}

.middlebar-hidden {
    min-height: 56px;
    display: none;
}

.main-login-page {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    min-width: 1050px;
    margin-top: 90px;
    margin-bottom: 60px;
    background-color: #fff;
}

.main-login-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.main-login-content {
    width: 340px;
    margin: 0 auto;
    letter-spacing: -0.6px;
}

.login-bar {
    padding-bottom: 12px;
}

.login-bar:first-of-type {
    margin-bottom: 5px;
}

.login-bar input {
    height: 54px;
    font-size: 14px;
}

.login-bar-content {
    position: relative;
    height: 48px;
}

.login-bar-text {
    width: 100%;
    padding: 0 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    outline: none;
    box-sizing: border-box;
}

.find-account {
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 13px;
}

.find-account-text {
    color: #333;
    cursor: pointer;
}

.find-account-line {
    width: 1px;
    height: 10px;
    margin: 3px 6px 0;
    background-color: #333;
}

.login-join-btn {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0 24px;
}

.login-btn {
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 6px;
    color: #fff;
    background-color: #5f0080;
    border: 0 none;
}

.login-join-text {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

.join-btn {
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 6px;
    color: #5f0080;
    background-color: #fff;
    border: 1px solid #5f0080;
}

.easy-login {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
}

.easy-login>p {
    padding: 24px 0 26px;
    line-height: 28px;
    font-weight: 700;
    font-size: 20px;
}

.easy-login>button {
    height: 54px;
}

.login-naver {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    background-color: #03c75a;
    color: white;
    border-radius: 6px;
}

.login-naver-text {
    line-height: 22px;
    font-weight: 600;
    font-size: 16px;
}

.login-kakao {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    background-color: rgb(254, 229, 0);
    color: var(--kpds_ldmw171t);
    border-radius: 6px;
}

.login-kakao-text {
    line-height: 22px;
    font-weight: 600;
    font-size: 16px;
}

.footer-start-line {
    padding-top: 30px;
    border-top: 1px solid rgb(247, 247, 247);
}

.footer {
    width: 1050px;
    margin: 0px auto;
}

.footer-content {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 30px;
}

.customer-happiness-center-text {
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.center-call-text {
    display: block;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
}

.center-opentime-text {
    margin-left: 8px;
    font-weight: normal;
    font-size: 16px;
}

.center-inquiry {
    display: flex;
    flex-direction: column;
}

.kakao-inquiry {
    display: flex;
    flex-direction: row;
}

.kakao-inquiry-btn {
    display: block;
    width: 140px;
    height: 40px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: white;
}

.kakao-inquiry-openday-text {
    margin-top: 2px;
    color: rgb(153, 153, 153);
    letter-spacing: -0.5px;
    line-height: 16.8px;
}