@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v37/PbykFmXiEBPT4ITbgNA5Cgm20xz64px_1hVWr0wuPNGmlQNMEfD4.0.woff2) format('woff2');
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}
input[type=radio]{
    box-sizing: border-box;
    padding: 0;
}
body{
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.4;
    font-size: 14px;
}
ul, ol{
    list-style: none;
}
html, body, span, div, button, input, label, select, option, textarea {
    font-family: var(Pretendard, "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif);
}

button{
    border-radius: 0;
    text-transform: none;
    overflow: visible;
    background-color: transparent;
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
div{
    display: block;
    unicode-bidi: isolate;
    font-family: var(--kpds_ldmw170);
}
*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
}
a{
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
div.header {
    width: 1050px;
    height: 100px;
    margin: 0px auto;
    letter-spacing: -0.3px;
}
div.header01 {
    right: 0px;
    top: 0px;
    z-index: 320;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: end;
    font-size: 12px;
}
div.header02 {
    height: 64px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
a.signup {
    display: block;
    color: rgb(95, 0, 128);
    cursor: pointer;
}
div.signdiv{
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}
a.login{
    display: block;
    cursor: pointer;
}
div.loginline{
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}
div.servicecenter{
    line-height: 35px;
    position: relative;
}
a.servicecentertext{
    display: block;
    cursor: pointer;
}
span.servicecentersemo{
    width: 8px;
    height: 5px;
    background-image: url(https://res.kurly.com/pc/ico/1908/ico_down_16x10.png);
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 1px;
}
div.header02{
    height: 64px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
div.header02-01{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 63px;
    display: flex;
}
img.kurlylogo{
    flex: 0 0 82px;
}
button.marketbutton{
    font-weight: 500;
    color: rgb(95, 0, 128);
    flex-shrink: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
    cursor: pointer;
    
}
button.beautybutton{
    margin-left: 22px;
    flex-shrink: 0;
    margin-left: 20px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgb(181, 181, 181);
    cursor: pointer;
}
div.header02-02{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: -100px;
    width: 400px;
}

div.header02-03{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
div.searchcontainer{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    left: 325px;
    top: -55px;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
}
input.search{
    width: 300px;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.33px;
}
button.searchicon{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    bottom: 3px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==);
}
div.delivery{
    width: 36px;
    height: 36px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K);
    cursor: pointer;
}
button.zzim{
    width: 36px;
    height: 36px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==);
}
div.catalogcontanier{
    position: relative;
    margin-left: 20px;
}
button.catalog{
    display: block;
    width: 36px;
    height: 36px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==);
    cursor: pointer;
}
div.menucontainer{
    min-width: 1050px;
    letter-spacing: -0.3px;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
    width: 100%;
    z-index: 300;
}
div.menu{
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1050px;
    height: 56px;
    margin: 0px auto;
}
ul.mainmenucontainer{
    display: flex;
    margin-left: 30px;
}
div.setdelivery{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
div.category{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
span.categoryicon{
    width: 16px;
    height: 14px;
    margin-right: 14px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==)
}
span.categorytext{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgb(51, 51, 51);
}
li.mainmenu{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 150px;
    height: 55px;
    padding-top: 18px;
    line-height: 20px;
    text-align: center;
}
span.menulist{
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    cursor: pointer;
}
div.setdeliverytext{
    height: 32px;
    padding: 6px 16px;
    border-radius: 18px;
    border: 1px solid rgb(238, 238, 238);
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.32px;
    cursor: pointer;
}
span.settext{
    font-weight: 500;
    color: rgb(95, 0, 128);
}
div.signuppage{
    min-width: 1050px;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: #fff;
}
div.signuptext{
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
    color: #333;
}
div.signupinput{
    width: 640px;
    margin: 0px auto;
}
div.inputheader{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    text-align: right;
}
div.inputmain{
    padding: 0px;
}
div.inputspace{
    padding: 10px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
}
div.inputdongui{
    padding: 0px;
}
div.inputcomplete{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-top: 1px solid rgb(247, 247, 247);
    padding: 40px 0px;
}
span.star{
    color: rgb(238, 106, 123);
}
div.inputlist{
    display: inline-flex;
    width: 100%;
    padding: 10px 20px;
}
div.idtext{
    width: 139px;
    padding-top: 12px;
}
label.idtextstar{
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}
div.idinputcontainer{
    flex: 1 1 0%;
}
div.idinput{
    padding-bottom: 0px;
}
div.idinputlan{
    position: relative;
    height: 48px;
}
.idinputbox{
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}
div.idspace{
    width: 120px;
    margin-left: 8px;
}
div.emailinput{
    padding-bottom: 0px;
}
div.emailinputcontainer{
    flex: 1 1 0%;
}
div.emaillist{
    position: relative;
    height: 48px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.emailinputtext{
    width: 100%;
    flex: 1 1 0%;
    height: 46px;
    padding: 0px 0px 1px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
    border: 0px;
}
div.emailat{
    padding: 0px 4px;
}
div.emailchoose{
    width: 143px;
    height: 100%;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.btn-text{
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    flex: 1 1 auto;
}
.empty{
    color: rgb(153, 153, 153);
}
.btn-select{
    width: 48px;
}
div.phoneinput{
    position: relative;
    height: 48px;
}
.phonebutton{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 3px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}
.idspace>button{
    height: 44px;
    border-radius: 3px;
}
.phonebutton{
    border-color: rgb(221, 221, 221);
    color: rgb(221, 221, 221);
}
.idspace>button>span{
    font-weight: 500;
    font-size: 14px;
}
.phonenumber{
    display: inline-block;
}
.addressstar{
    color: rgb(238, 106, 123);
}
.addresssearch{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}
.addresssearch>span{
    font-size: 14px;
    font-weight: 500;
}
.addressinfo{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.addressimg{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align: middle;
}
.deliveryinfo{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    color: rgb(102, 102, 102);
}

.gendercontainer{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
}
.genderchoose{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 0px 9px;
}
.genderbutton{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
}
.gendercontainer>label>span{
    font-size: 14px;
}
.genderoo{
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}
.gendero{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.gendernonetext{
    position: relative;
    font-size: 16px;
    margin-left: 12px;
}
.gendernoneoo{
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: rgb(95, 0, 128);
}
.gendernoneo{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
}
.gendertext{
    position: relative;
    font-size: 16px;
    margin-left: 12px;
}